html {
    text-align: justify;
}

body {
    width: 60%;
    margin: auto;
    max-width: 800px;
    margin-top: 5em;
    margin-bottom: 10em;
}

img {
    display:block;
    max-width:80%;
    margin:auto;
}

.quote {
    margin-top:2em;
    color:black;
    padding:1em;
    text-align: center;
    font-style: italic;
}

@media screen and (max-width: 850px) {
    body {
        width: 80%;
    }
}

@media screen and (max-width: 540px) {
    body {
        width: 90%;
    }
}

@media screen and (max-width: 300px) {
    body {
        width: 100%;
    }
}

